.media-columns {
    padding: 0; 

    video {
        width: 100%;
    }

    figure {
        margin-bottom: 2.5rem;
    }

    figcaption {
        margin-top: .85rem;
        text-align: center;
    }
}